<div id="<%= dom_id file_upload %>">
  <p>
    <strong>Title:</strong>
    <%= file_upload.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= file_upload.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= file_upload.user_id %>
  </p>

</div>
